# House Rocket - Data Analysis

## 1. Import Data and Libraries

In [38]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import plotly.express as px

In [39]:
# Supress Scientific Notation
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

In [40]:
data_raw = pd.read_csv('datasets/kc_house_data.csv')

## 2. Data Overview

In [41]:
data_raw.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503
5,7237550310,20140512T000000,1225000.00,4,4.50,5420,101930,1.00,0,0,...,11,3890,1530,2001,0,98053,47.66,-122.00,4760,101930
6,1321400060,20140627T000000,257500.00,3,2.25,1715,6819,2.00,0,0,...,7,1715,0,1995,0,98003,47.31,-122.33,2238,6819
7,2008000270,20150115T000000,291850.00,3,1.50,1060,9711,1.00,0,0,...,7,1060,0,1963,0,98198,47.41,-122.31,1650,9711
8,2414600126,20150415T000000,229500.00,3,1.00,1780,7470,1.00,0,0,...,7,1050,730,1960,0,98146,47.51,-122.34,1780,8113
9,3793500160,20150312T000000,323000.00,3,2.50,1890,6560,2.00,0,0,...,7,1890,0,2003,0,98038,47.37,-122.03,2390,7570

In [42]:
data_raw.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [43]:
data_raw.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00
mean,4580301520.86,540088.14,3.37,2.11,2079.90,15106.97,1.49,0.01,0.23,3.41,7.66,1788.39,291.51,1971.01,84.40,98077.94,47.56,-122.21,1986.55,12768.46
std,2876565571.31,367127.20,0.93,0.77,918.44,41420.51,0.54,0.09,0.77,0.65,1.18,828.09,442.58,29.37,401.68,53.51,0.14,0.14,685.39,27304.18
min,1000102.00,75000.00,0.00,0.00,290.00,520.00,1.00,0.00,0.00,1.00,1.00,290.00,0.00,1900.00,0.00,98001.00,47.16,-122.52,399.00,651.00
25%,2123049194.00,321950.00,3.00,1.75,1427.00,5040.00,1.00,0.00,0.00,3.00,7.00,1190.00,0.00,1951.00,0.00,98033.00,47.47,-122.33,1490.00,5100.00
50%,3904930410.00,450000.00,3.00,2.25,1910.00,7618.00,1.50,0.00,0.00,3.00,7.00,1560.00,0.00,1975.00,0.00,98065.00,47.57,-122.23,1840.00,7620.00
75%,7308900445.00,645000.00,4.00,2.50,2550.00,10688.00,2.00,0.00,0.00,4.00,8.00,2210.00,560.00,1997.00,0.00,98118.00,47.68,-122.12,2360.00,10083.00
max,9900000190.00,7700000.00,33.00,8.00,13540.00,1651359.00,3.50,1.00,4.00,5.00,13.00,9410.00,4820.00,2015.00,2015.00,98199.00,47.78,-121.31,6210.00,871200.00

## 3. Data Preprocessing

- O dataset não possui valores faltantes

In [44]:
data_raw.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

### 3.1 Create New Column

Criando uma coluna para traduzir o atributo **condition** para uma mais fácil interpretação.
- condition **menor ou igual a** 2 -> 'bad'
- condition **igual a** 3 e 4 -> 'regular'
- condition **igual a** 5 -> 'good'

In [45]:
np.unique(data_raw['condition'], return_counts=True)

(array([1, 2, 3, 4, 5], dtype=int64),
 array([   30,   172, 14031,  5679,  1701], dtype=int64))

In [46]:
data_raw['condition_type'] = data_raw['condition'].apply(lambda x: 'bad' if x <= 2 else
                                                'regular' if (x == 3) | (x == 4) else 'good')

In [47]:
np.unique(data_raw['condition_type'], return_counts=True)

(array(['bad', 'good', 'regular'], dtype=object),
 array([  202,  1701, 19710], dtype=int64))

### 3.2 Column Drop

Iremos remover as colunas 'sqft_living15' e 'sqft_lot15'.

In [48]:
data_raw.columns[[19, 20]]

Index(['sqft_living15', 'sqft_lot15'], dtype='object')

In [49]:
data_raw = data_raw.drop(['sqft_living15', 'sqft_lot15'], axis=1)

In [50]:
data_raw.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'condition_type'],
      dtype='object')

### 3.3 Modify Columns Type

Modificando o tipo da coluna **date** para um formato de data. Isso nos ajudará nas operações.

In [51]:
data_raw['date'] = pd.to_datetime(data_raw['date'], format='%Y-%m-%d')

In [52]:
data_raw.dtypes[[0, 1]]

id               int64
date    datetime64[ns]
dtype: object

## 4. Data Analysis

In [53]:
data = data_raw.copy()

### 4.1.1 Quais são os imóveis que a House Rocket deveria comprar e por qual preço?

Criando um dataframe com a mediana e média do preço por região (zipcode).

In [54]:
d_zip_price_median = data[['price', 'zipcode']].groupby('zipcode').median().reset_index()
d_zip_id = data[['id', 'zipcode']].groupby('zipcode').count().reset_index()
d_zip_price_mean = data[['price', 'zipcode']].groupby('zipcode').mean().reset_index()

m1 = pd.merge(d_zip_id, d_zip_price_median, on='zipcode', how='inner')
df_zipcode = pd.merge(m1, d_zip_price_mean, on='zipcode', how='inner')

df_zipcode.columns = ['zipcode', 'amount_id', 'price_median', 'price_mean']
df_zipcode.head()

   zipcode  amount_id  price_median  price_mean
0    98001        362     260000.00   280804.69
1    98002        199     235000.00   234284.04
2    98003        280     267475.00   294111.28
3    98004        317    1150000.00  1355927.08
4    98005        168     765475.00   810164.88

In [55]:
df_zipcode_median = df_zipcode[['zipcode', 'price_median']]

**Condições para recomendar o imóvel para compra**:
- preço do imóvel abaixo da mediana da região;
- condição regular ou boa.

In [56]:
data_median = pd.merge(data, df_zipcode_median, on='zipcode', how='left')
data_median.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,condition_type,price_median
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,regular,278277.00
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,regular,425000.00

In [57]:
data_p1 = data_median[['id', 'zipcode', 'price', 'price_median', 'condition_type']].copy()
data_p1['status'] = data_p1[['price', 'price_median', 'condition_type']].apply(lambda x:
                                                                    'buy' if (x['price'] < x['price_median']) & ((x['condition_type'] == 'regular') | (x['condition_type'] == 'good')) 
                                                                                                                 else 'not_buy', axis=1)

In [58]:
data_p1

               id  zipcode     price  price_median condition_type   status
0      7129300520    98178 221900.00     278277.00        regular      buy
1      6414100192    98125 538000.00     425000.00        regular  not_buy
2      5631500400    98028 180000.00     445000.00        regular      buy
3      2487200875    98136 604000.00     489950.00           good  not_buy
4      1954400510    98074 510000.00     642000.00        regular      buy
...           ...      ...       ...           ...            ...      ...
21608   263000018    98103 360000.00     550000.00        regular      buy
21609  6600060120    98146 400000.00     305000.00        regular  not_buy
21610  1523300141    98144 402101.00     450000.00        regular      buy
21611   291310100    98027 400000.00     570500.00        regular      buy
21612  1523300157    98144 325000.00     450000.00        regular      buy

[21613 rows x 6 columns]

In [59]:
np.unique(data_p1['status'], return_counts=True)

(array(['buy', 'not_buy'], dtype=object), array([10579, 11034], dtype=int64))

In [60]:
data_p1_1 = data_median[['id', 'zipcode', 'price', 'price_median', 'condition_type']].copy()
data_p1_1['status'] = data_p1[['price', 'price_median', 'condition_type']].apply(lambda x:
                                                                    'buy' if (x['price'] < x['price_median']) & (x['condition_type'] == 'good') 
                                                                                                                 else 'not_buy', axis=1)
data_p1_1

               id  zipcode     price  price_median condition_type   status
0      7129300520    98178 221900.00     278277.00        regular  not_buy
1      6414100192    98125 538000.00     425000.00        regular  not_buy
2      5631500400    98028 180000.00     445000.00        regular  not_buy
3      2487200875    98136 604000.00     489950.00           good  not_buy
4      1954400510    98074 510000.00     642000.00        regular  not_buy
...           ...      ...       ...           ...            ...      ...
21608   263000018    98103 360000.00     550000.00        regular  not_buy
21609  6600060120    98146 400000.00     305000.00        regular  not_buy
21610  1523300141    98144 402101.00     450000.00        regular  not_buy
21611   291310100    98027 400000.00     570500.00        regular  not_buy
21612  1523300157    98144 325000.00     450000.00        regular  not_buy

[21613 rows x 6 columns]

In [61]:
np.unique(data_p1_1['status'], return_counts=True)

(array(['buy', 'not_buy'], dtype=object), array([  703, 20910], dtype=int64))

### 4.2.1 Hipóteses de Negócio

#### H1: Imóveis que possuem vista para água, são 20% mais caros na média.

In [94]:
data_water_view = data.loc[data['waterfront'] == 1, :]
m1 = data_water_view['price'].mean()
m2 = data['price'].mean()
m1_perc = (m2 / m1) * 100
print(f'Imóveis que possuem vista para a água são {m1_perc:.2f}% mais caros na média.')

Imóveis que possuem vista para a água são 32.50% mais caros na média.

A **hipótese é falsa**, pois são 32,50% mais caros.

#### H2: Imóveis com data de construção menor que 1955, são 50% mais baratos na média.

In [99]:
m1 = data.loc[data['yr_built'] < 1955, :]['price'].mean()
m2 = data['price'].mean()
m1, m2

(537050.9076898118, 540088.1417665294)

In [107]:
(1 - (m1 / m2)) * 100

0.5623589636283066

In [106]:
print(f'Imóveis com data de construção menor que 1955, são {(1 - (m1 / m2)) * 100:.2f}% mais baratos na média.')

Imóveis com data de construção menor que 1955, são 0.56% mais baratos na média.

**Hipótese é falsa**, pois são 0,56% mais baratos na média.

#### H3: Imóveis sem porão possuem área total (do lote), são 40% maiores do que os imóveis com porão.

In [108]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'condition_type'],
      dtype='object')